<div class="content-padding">
  <h1>About The Sprite-Site</h1>
  <div class="container">
    <div class="mt-5">
    <div class="row">
      <div class="col mx-6">
        <div class="row">
          <div class="col">
            <h3>About</h3>
            <h2>This Page</h2>
          </div>
          <div class="col">
            <%= image_tag 'web-browsers.png', class: "small-rounded-image" %>
          </div>
          <h4 style="color: white; margin-top:30px;">This is a small webpage I cooked up over a few bored nights, to simulate what it would look like if The Coca-Cola Company hired me today to design the website for their Sprite brand. I am expecting the phone to ring any minute.</h4>
        </div>
      </div>
      <div class="col mx-6">
        <div class="row">
          <div class="col">
            <h3>About</h3>
            <h2>Sprite</h2>
          </div>
          <div class="col">
            <%= image_tag 'logo.png', class: "small-rounded-image" %>
          </div>
          <h4 style="color: white; margin-top:30px;">Sprite is a delicious, refreshing beverage which I am in no way inclined to promote</h4>
        </div>
      </div>
      <div class="col mx-6">
        <div class="row">
          <div class="col">
            <h3>About</h3>
            <h2>Kieran</h2>
          </div>
          <div class="col">
            <%= image_tag 'kieran.png', class: "small-rounded-image" %>
          </div>
          <h4 style="color: white; margin-top:30px;">Kieran is an ambitious and problem-solving coder, with front-end profieciency through Ruby, Javascript, Python and back-end through PostgreSQL, Rails, Django. Read more at https://www.linkedin.com/in/kieran-lambe-dev/</h4>
        </div>
      </div>
    </div>
  </div>
</div>
