<div class="content-padding">
  <h1>Contact Us</h1>
</div>
<div class="container">
  <div class="row align-items-center">
    <div class="col-md-8 mx-3">
      <h3>Got a moment? Drop us a line to let us know how you enjoyed the page, and any suggestions you have</h3>
    </div>
    <div class="col-md-4">
      <%= image_tag 'default_image.png', class: 'rounded-circle contact-image' %>
    </div>
  </div>
</div>
