<div class="content-padding">
  <h1>Contact Us</h1>
</div>
<div class="container d-flex align-items-center">
  <div class="text-container">
    <h3>Got a moment? Drop us a line to let us know how you enjoyed the page, and any suggestions you have</h3>
  </div>
  <div class="image-container">
    <%= image_tag 'default_image.png', class: 'rounded-circle contact-image' %>
  </div>
</div>
