.site-header {
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10; /* Adjust z-index as needed */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  .container {
    width: 100%;
    max-width: 1200px; /* Adjust max-width as needed */
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }

  nav ul li a {
    color: #666;
    text-decoration: none;
    font-size: 16px;
  }

  nav ul li a:hover {
    color: #333;
  }
}
