.welcome-container {
  display: flex;
  justify-content: space-between; /* Ensures space between the columns */
  flex-wrap: wrap; /* Allows wrapping for smaller screens */
}

.left-column,
.center-column,
.right-column {
  flex: 1; /* Makes each column take equal space */
  padding: 10px; /* Optional padding */
}

.welcome-text-container {
  margin-bottom: 20px; /* Space between text and image */
}

.image-container {
  max-width: 340px;
}

.lemon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lemon {
  width: 460px;
  height: 460px;
  border-radius: 50%;
  background: #ffd100;
  position: relative;
  transform: rotate(90deg) skew(6deg, 6deg);
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 20px solid white;
}

#sprite-container img {
  max-width: 100%;
  height: auto;
}

.lemon-text {
  transform: rotate(-84deg); /* Counteract the rotation of the lemon */
  text-align: center;
  color: #fff;
}

.lemon:after {
  content: "";
  width: 150px;
  height: 150px;
  background: #ffd100;
  top: 64%;
  left: 50%;
  position: absolute;
  margin-left: 72px;
  border-radius: 57px;
  box-shadow: 16px 16px 0 0 white; /* Adding the box shadow */
}
