$primary: #05731c;
$body-bg: #05731c;

body {
  font-family: aktiv-grotesk, sans-serif;
  font-style: normal;
  font-weight: 200;
}

@import "bootstrap";
@import "header";
@import "card";
@import "can";
@import "lemon";
@import "new-can";
@import "contact";
@import "basket-items";

div {
  /* Ensure spans are displayed as inline-block */
  span {
    display: inline-block;
    margin-right: 10px; /* Example: Add margin between spans */
  }
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;
  color: #fff;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffd100;
}

h3 {
  font-size: 2.5rem;
  font-style: italic;
  font-weight: bold;
  color: #fff;
}

.content-padding {
  padding-top: 80px; /* Adjust based on your header height */
  padding-bottom: 60px;
  padding-left: 40px;
}

.floating-element {
  transition: transform 0.3s ease-out;
}

/* Start https://www.cursors-4u.com */
* {
  cursor: url(https://cur.cursors-4u.net/food/foo-7/foo634.cur), auto !important;
} /* End https://www.cursors-4u.com */
